/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-image: url("/static/images/gifs/zombie_hands.png");
  background-size: 100%;
}

.jumbotron h1{
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
}

h1 {
  text-align: center;
}

.staticImage {
  width:100%;
}

.gifImage{
  zoom:2;
}